@import url("https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEICbzagQlgiMMTcfwSOywUzNaqGzgTMfctaXjEQzy8pCR");
ul.lst-kix_uf85x0sx2o95-2 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-1 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-4 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-8 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-3 {
  list-style-type: none;
}
.lst-kix_374r5lg6sd0u-8 > li:before {
  content: "-  ";
}
ul.lst-kix_aanv94fa3mmj-6 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-7 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-0 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-4 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-5 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-2 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-3 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-0 {
  list-style-type: none;
}
ul.lst-kix_aanv94fa3mmj-1 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-6 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-5 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-8 {
  list-style-type: none;
}
ul.lst-kix_uf85x0sx2o95-7 {
  list-style-type: none;
}
.lst-kix_374r5lg6sd0u-2 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-3 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-4 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-6 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-5 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-7 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-5 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-6 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-3 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-7 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-4 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-1 > li:before {
  content: "-  ";
}
.lst-kix_374r5lg6sd0u-0 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-8 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-1 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-2 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-0 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-4 > li:before {
  content: "-  ";
}
ul.lst-kix_374r5lg6sd0u-0 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-2 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-1 {
  list-style-type: none;
}
.lst-kix_7g5ayfur0b7s-3 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-8 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-1 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-2 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-5 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-6 > li:before {
  content: "-  ";
}
.lst-kix_fvlh5chnqfr1-0 > li:before {
  content: "-  ";
}
.lst-kix_7g5ayfur0b7s-7 > li:before {
  content: "-  ";
}
ul.lst-kix_374r5lg6sd0u-8 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-7 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-4 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-3 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-6 {
  list-style-type: none;
}
ul.lst-kix_374r5lg6sd0u-5 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-3 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-4 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-1 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-2 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-0 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-7 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-8 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-5 {
  list-style-type: none;
}
ul.lst-kix_fvlh5chnqfr1-6 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-3 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-2 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-5 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-4 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-7 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-6 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-8 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-1 {
  list-style-type: none;
}
ul.lst-kix_e4wsx0aibjfr-0 {
  list-style-type: none;
}
.lst-kix_uf85x0sx2o95-7 > li:before {
  content: "-  ";
}
.lst-kix_uf85x0sx2o95-6 > li:before {
  content: "-  ";
}
.lst-kix_uf85x0sx2o95-8 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-0 > li:before {
  content: "-  ";
}
.lst-kix_e4wsx0aibjfr-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_e4wsx0aibjfr-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_uf85x0sx2o95-4 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-2 > li:before {
  content: "-  ";
}
.lst-kix_uf85x0sx2o95-5 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-1 > li:before {
  content: "-  ";
}
.lst-kix_e4wsx0aibjfr-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_e4wsx0aibjfr-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_aanv94fa3mmj-7 > li:before {
  content: "-  ";
}
.lst-kix_uf85x0sx2o95-0 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-6 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-8 > li:before {
  content: "-  ";
}
.lst-kix_e4wsx0aibjfr-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_7g5ayfur0b7s-0 {
  list-style-type: none;
}
ul.lst-kix_7g5ayfur0b7s-1 {
  list-style-type: none;
}
ul.lst-kix_7g5ayfur0b7s-2 {
  list-style-type: none;
}
ul.lst-kix_7g5ayfur0b7s-3 {
  list-style-type: none;
}
.lst-kix_e4wsx0aibjfr-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_7g5ayfur0b7s-4 {
  list-style-type: none;
}
.lst-kix_uf85x0sx2o95-3 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-3 > li:before {
  content: "-  ";
}
ul.lst-kix_7g5ayfur0b7s-5 {
  list-style-type: none;
}
ul.lst-kix_7g5ayfur0b7s-6 {
  list-style-type: none;
}
.lst-kix_uf85x0sx2o95-2 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-4 > li:before {
  content: "-  ";
}
ul.lst-kix_7g5ayfur0b7s-7 {
  list-style-type: none;
}
.lst-kix_e4wsx0aibjfr-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_e4wsx0aibjfr-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_7g5ayfur0b7s-8 {
  list-style-type: none;
}
.lst-kix_uf85x0sx2o95-1 > li:before {
  content: "-  ";
}
.lst-kix_aanv94fa3mmj-5 > li:before {
  content: "-  ";
}
.lst-kix_e4wsx0aibjfr-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5ygead1walp0-3 > li:before {
  content: "-  ";
}
.lst-kix_5ygead1walp0-1 > li:before {
  content: "-  ";
}
.lst-kix_5ygead1walp0-5 > li:before {
  content: "-  ";
}
.lst-kix_5ygead1walp0-0 > li:before {
  content: "-  ";
}
.lst-kix_5ygead1walp0-4 > li:before {
  content: "-  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_5ygead1walp0-2 > li:before {
  content: "-  ";
}
ul.lst-kix_5ygead1walp0-2 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-1 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-0 {
  list-style-type: none;
}
.lst-kix_5ygead1walp0-8 > li:before {
  content: "-  ";
}
.lst-kix_5ygead1walp0-7 > li:before {
  content: "-  ";
}
ul.lst-kix_5ygead1walp0-8 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-7 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-6 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-5 {
  list-style-type: none;
}
ul.lst-kix_5ygead1walp0-4 {
  list-style-type: none;
}
.lst-kix_5ygead1walp0-6 > li:before {
  content: "-  ";
}
ul.lst-kix_5ygead1walp0-3 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c23 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 61.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c4 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 234pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c27 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 55.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c8 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c19 {
  -webkit-text-decoration-skip: none;
  color: #0b5394;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Montserrat";
}
.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 23pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c13 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c22 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c18 {
  margin-left: 36pt;
  padding-top: 5pt;
  padding-left: 0pt;
  padding-bottom: 5pt;
  line-height: 1;
  text-align: left;
}
.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  height: 11pt;
}
.c10 {
  background-color: #ffffff;
  font-size: 10pt;
  font-family: "Montserrat";
  color: #3d85c6;
  font-weight: 700;
}
.c2 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c26 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}
.c7 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c14 {
  padding-top: 20pt;
  padding-bottom: 10pt;
  line-height: 1;
  text-align: left;
}
.c15 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c29 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c30 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c28 {
  font-size: 29pt;
  font-family: "Montserrat";
  font-weight: 700;
}
.c1 {
  font-size: 13pt;
  font-family: "Montserrat";
  font-weight: 400;
}
.c17 {
  font-weight: 400;
  font-size: 11pt;
  font-family: "Open Sans";
}
.c9 {
  font-size: 10pt;
  font-family: "Open Sans";
  font-weight: 400;
}
.c20 {
  font-weight: 400;
  font-size: 29pt;
  font-family: "Montserrat";
}
.c24 {
  color: inherit;
  text-decoration: inherit;
}
.c11 {
  padding: 0;
  margin: 0;
}
.c25 {
  height: 139.7pt;
}
.c6 {
  padding: 5pt 5pt 5pt 5pt;
}
.c16 {
  height: 0pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
